<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drummers List</title>
    <style>
      body {
        margin-top: 100px;
      }
      .name {
        font-size: 30px;
        font-family: sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <% drummerList.forEach((element) => { %>
    <div class="name">
      <a href="drummer/<%= element.id %>"><%= element.name %></a>
    </div>
    <br />
    <br />
    <% });%>
  </body>
</html>
